Repository AgroDT/WeathEasy: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: uv-lock
        name: uv lock
        language: system
        entry: python
        args: [scripts/lock.py]
        files: (pyproject.toml|uv.lock)
        pass_filenames: false
      - id: lint
        name: lint
        language: system
        entry: uv
        args: [run, --frozen, ruff, check, src]
        pass_filenames: false
      - id: format
        name: format
        language: system
        entry: uv
        args: [run, --frozen, ruff, format, src]
        pass_filenames: false
      - id: mypy
        name: mypy
        language: system
        entry: uv
        args: [run, --frozen, mypy]
        files: ^src/
        types: [file, python]

Bump ruff target to py312
  pyproject.toml
  src/weatheasy/web/models.py
Due: uv-lock, mypy

Move to uv
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  scripts/lock.py
  uv.lock
Due: uv-lock

Update Dockerfile
  .dockerignore
  Dockerfile
Due: none

Fix dynamic version
  .dockerignore
  Dockerfile
  pyproject.toml
Due: uv-lock

Update README.md
  README.md
Due: none

Use uv 0.12.10 for project tooling
  .pre-commit-config.yaml
  Dockerfile
  scripts/lock.py
  uv.lock
Due: uv-lock

Migrate build system to hatchling and uv-dynamic-versioning
  .gitignore
  Dockerfile
  pyproject.toml
  src/weatheasy/__init__.py
  src/weatheasy/_version.pyi
  src/weatheasy/util.py
  src/weatheasy/version.py
Due: uv-lock, mypy

Fix version import in the FastAPI app
  src/weatheasy/web/__init__.py
Due: mypy
